---
---

<p>
	{% for link in site.data.links %}{% for item in link %}<a href="{{ item[1] }}" target="_blank" class="btn">{{ item[0] }}</a>&nbsp;{% endfor %}{% endfor %}
</p>

<p>&nbsp;</p>

<h2>로그다... (그런데 요즘은 업데이트 안함. 활동 보려면 슬랙 ) </h2>
<ul>
{% for page in site.pages %}
	{% if page.url contains 'log' %}
	<li>{{ page.dir }} - <a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>

<p>&nbsp;</p>

<h2>같이 놀려면...</h2>
<ul>
{% for link in site.data.links %}
	<li>{% for item in link %}{{ item[0] }}: <a href="{{ item[1] }}" target="_blank">{{ item[1] }}</a>{% endfor %}</li>
{% endfor %}
</ul>

<p>&nbsp;</p>

<h2>프로젝트</h2>

<ul>
	<li>
		<h3><a href="https://github.com/lexifdev/recharted.github.io">recharted.github.io</a></h3>
		응? 이건? ㅋㅋㅋ 언론사의 웃긴 차트 가지고 놀기<br>
		<a href="https://github.com/lexifdev/recharted.github.io/issues">재밌는 이슈 보기</a>
	</li>
	<li>
		<h3>자바스크립트 스터티</h3>
		기초부터 차근차근<br>
		뭔가 해보고 싶은데 잘 모르겠는 분들 환영
	</li>
        <li>
		<h3>여성차별적 성별표기 안 하기로 한 여남뉴스</a></h3>
		<a href="https://twitter.com/__ynnews__">여남뉴스 트위터 본진</a>
		<a href="https://www.facebook.com/weeklyynn/">여남뉴스 페이스북 멀티</a>
	</li>
</ul>

<p>&nbsp;</p>

<h2>코드 저장소</h2>
{% capture repos %}{% for repository in site.github.public_repositories %}* [{{ repository.name }}]({{ repository.html_url }})
{% endfor %}{% endcapture %}{{ repos | markdownify }}

<p>&nbsp;</p>

<p>말투가 역한거 같거나, 맘에 안들면 니가 바꾸는거 환영, 막 살아서 미안...</p>
